@keyframes slideIn{
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes slideInLeft{
    0% {transform: translateX(-150%);}
    80% {transform: translateX(0);}
    100% {transform: translateX(0);}
}

@keyframes slideInRight{
    0% {transform: translateX(150%);}
    80% {transform: translateX(0);}
    100% {transform: translateX(0);}
}

@keyframes reveal{
    0% {opacity: 0}
    20% {opacity: 0}
    35% {opacity: 0}
    100% {opacity: 1}
}

@keyframes flash{
    0% {opacity: 0}
    20% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0}
}

@keyframes fill {
    0% {width: 0}
    35% {width: 0}
    100% {width: 100%}
}

@keyframes slideUp{
    0% {transform:translateY(45%)}
    100% {transform: translateY(0)}
}

@keyframes open{
    0% {transform: scale(0.001, 0.001);}
    50% {transform: scale(1, 0.01);}
    99.99% {transform: scale(1, 1);}
    100% {transform: scale(1, 1);}
}

@keyframes close{
    0% {transform: scale(1, 1);opacity: 1; z-index: 99999;}
    50% {transform: scale(1, 0.01);opacity: 1; z-index: 99999;}
    99.99% {transform: scale(0, 0.01);opacity: 1; z-index: 99999;}
    100% {transform: scale(0, 0.01); opacity: 0; z-index: -5}
}

@keyframes openInner{
    0% {transform: scale(0,0);}
    50% {transform: scale(0,0);}
    75% {transform: scale(1, 0.01);}
    100% {transform: scale(1, 1);}
}

@keyframes closeInner{
    0% {transform: scale(1,1);}
    50% {transform: scale(1, 0.01);}
    100% {transform: scale(0, 0);}
}

.animations--open-modal{
    opacity: 1;
    z-index: 999999;
    animation: open .8s 1;
    animation-fill-mode: forwards;
}

/* .animations--open-modal--inner{
    animation: openInner .8s 1;
    animation-fill-mode: forwards;
} */

.animations--close-modal{
    animation: close .8s 1;
    animation-fill-mode: forwards;
}

/* .animations--close-modal--inner{
    animation: closeInner .8s 1;
    animation-fill-mode: forwards;
} */


/* .animations--open-modal-test{
    opacity: 1;
    z-index: 9999;
}

.animations--open-modal-inner-test{
    transform: scale(1);
} */


.animations--delay-stack{

    @include atMedium{
        animation: slideUp .5s 1, reveal .5s 1;
        animation-fill-mode: forwards;
    }

}

.animations--translate-right--hide{

    @include atMedium{
        transform: translateX(150%);
    }

}

.animations--translate-left--hide{

    @include atMedium{
        transform: translateX(-150%);
    }

}

.animations--opacity--hide{


    @include atMedium{
        opacity: 0;
    }
}

.animations--width--hide{
    width: 0;
}

.animations__generic-title--slidein{
    animation: slideIn 3s 1, reveal 1.5s 1;
    animation-fill-mode: forwards;
}

.animations__generic-hr--slidein{
    animation: slideIn 4s 1, reveal 2s 1;
    animation-fill-mode: forwards;
}

.animations__skills-bar--slidein{

    /* animation: slideInLeft 2s 1;
    animation-fill-mode: forwards; */

    @include atMedium{
        animation: slideInLeft 2s 1;
        animation-fill-mode: forwards;
    }

}

.animations__skills-bar--fill{
    animation: fill 4s 1;
    animation-fill-mode: forwards;

    @include atMedium{
        animation: fill 4s 1;
        animation-fill-mode: forwards;
    }

}

.animations__about-me--slidein-right{
    /* animation: slideInRight 2s 1;
    animation-fill-mode: forwards; */

    @include atMedium{
        animation: slideInRight 2s 1, reveal 1s 1;
        animation-fill-mode: forwards;
    }

}


.animations--ease-out{
    opacity: 0;
    transition: opacity .5s ease-out, transform .5s ease-out;
    transform: scale(1.15);

    &--is-visible{
        opacity: 1;
        transform: scale(1);
    }
}
