.hexagon__wrapper{
    text-align: center;
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;

    @include atSmall{
        height: 100px;
        width: 100px;
    }


}

.hexagon{
    background-color: $altGreen;
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
    overflow: hidden;

    i{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

.hexagon:before{
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
    overflow: hidden;

}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);
    overflow: hidden;
}

.hexagon__icon{
    font-size: 2rem;
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include atSmall{
        font-size: 3rem;
    }
}

