.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -5;
    /* transition: opacity .3s linear; */

    &--body-prevent-scroll{
        overflow: hidden;
    }

    &__close{
        position: absolute;
        z-index: 9999999999;
        font-size: 1.7rem;
        cursor: pointer;
        color: $mainColor;
        bottom: 5px;
        left: 50%;

        @include atMedium{
            top: 5px;
            right: 10px;
            left: unset;
            bottom: unset;

        }
    }

    &__close:hover{
        color: black;
    }

    &__image{
        display: block;
        width: 100%;
        height: auto;
    }

    &__hr{
        width: 100%;
        color: rgba(0, 0, 0, 0.5);
        margin-top: -.6rem;

    }

    &__inner{
        position: relative;
        max-width: 640px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(121, 121, 121, 0.3);
        overflow-y: auto;
        /* transition: transform .3s linear;
        transform: scale(.95); */

    }

    &__info{
        padding: 1rem;
        border-top: 1px solid $mainColor;
    }

    &__button{
        display: inline-block;
        font-weight: 400;
        text-decoration: none;
        padding: 1rem 1.5rem;
        color: #fff;
        background-color: $altRed;
        align-self: flex-end;
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
        margin-bottom: 1.5rem;
    }

}


