.site-header{
    background-color: #fff;
    border-bottom: 3px solid $altGreen;
    z-index: 999; 

    @include atMedium{
        background-color: #191d24;
        border-bottom: 3px solid $altGreen;
    }
}